body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 171, 70);
}

.judul {
    font-family: 'Creepster', cursive;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

.satu {
    width: 120px;
    height: 120px;
    margin: auto;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

.skor {
    margin: auto;
}

.dua {
    width: 50px;
    height: 50px;
}

.container {
    margin: auto;
    width: 600px;
    height: 1000px;
    cursor: url(../img/palu1.png), auto;
}

.container:active {
    cursor: url(../img/palu2.png), auto;
}

.play-button {
    display: block;
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.play-button:hover, .play-button:focus {
    color: #fff;
    outline: 0;
}

.mod {
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}

.mod::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 150ms ease-in-out;
}

.mod:hover {
    color: #fff;
}

.mod:hover::after {
    width: 110%;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: "";
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -25px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../img/tikus.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
}

.tanah.muncul .tikus {
    top: -15px;
}